<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/index.css') }}">
</head>
<body>
    <header>
        <h1>Inventory Management System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('products') }}">Products</a></li>
                <li><a href="{{ url_for('orders') }}">Orders</a></li>
                <li><a href="{{ url_for('category') }}">Categories</a></li>
            </ul>
        </nav>
    </header>

    <main class="flex-section">
    <img src="https://www.siteimprove.com/contentassets/04f909fca0374f64a33d838bf7b0f2f2/seo-checker.png" width="700px" height="500px">
        <section id="products" >
            <img src="https://cdn-icons-png.freepik.com/256/10112/10112502.png?semt=ais_hybrid" width="100px"
<br>
            <h2><a href="{{ url_for('products') }}">Products</a></h2>
        </section>

        <section id="orders">
            <img src="https://cdn-icons-png.freepik.com/256/10112/10112502.png?semt=ais_hybrid" width="100px"
<br>
            <h2><a href="{{ url_for('orders') }}">Orders</a></h2>
        </section>

        <section id="categories">
            <img src="https://cdn-icons-png.freepik.com/256/10112/10112502.png?semt=ais_hybrid" width="100px"
<br>
            <h2><a href="{{ url_for('category') }}">Category</a></h2>
        </section>

    </main>

    <footer>
        <p>Contact us: <a href="mailto:info@example.com">YourName@example.com</a></p>
    </footer>
</body>
</html>
